[submodule "ArduinoCore-k210"]
	path = ArduinoCore-k210
	url = https://github.com/Seeed-Studio/ArduinoCore-k210/
[submodule "sdk"]
	path = sdk
	url = https://github.com/kendryte/kendryte-standalone-sdk
